package model

import (
"time"
{{- if eq .DbType "mongo"}}
    "go.mongodb.org/mongo-driver/bson/primitive"
{{end}}
)

type {{.ModelName}} struct {
{{- if eq .DbType "mongo"}}
    Id primitive.ObjectID `bson:"_id,omitempty" json:"-"`
{{end}}
{{- range $field := .Fields}}
    {{ScoreToBigCamel $field.Name}} {{if Contains $field.Name "time"}}*{{end}}{{$field.GetType}} {{$field.GetTag|ToHTML}}{{if ne $field.Comment ""}} // {{$field.Comment}}{{end}}
{{end -}}
}


// 查询参数
type Search{{.ModelName}}Param struct {
	Page           Page
    {{.ModelName|ScoreToBigCamel}} {{.ModelName}}
}

func NewSearch{{.ModelName}}Param(param map[string]string) Search{{.ModelName}}Param {
    // TODO 完成自己的struct初始化, 如下
	var s Search{{.ModelName}}Param

	// if val, ok := param["id"]; ok {
	// 	s.Page.Id = val
	// }
    //
    return s
}

// 查询结果
type Response{{.ModelName}}Data struct {
    {{.ModelName|ScoreToBigCamel}}s []{{.ModelName}} // 查询数据
	Page         Page             // 页码信息
}
